<div class="js-issues-template">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Descriptions</th>
        <th>Avatar</th>
      </tr>
    </thead>
    <tbody>
        <tr class="js-table-row">
          <td class="js-issue-title"><a target="_blank" href=""  data-repo-name=""></a></td>
          <td class="js-issue-description"></td>
          <td class="js-issue-user"><a target="_blank" href=""><img src=""></a></td>
        </tr>
    </tbody>
  </table>
</div>

